body {
    font-family: 'Poppins', sans-serif;
    background-color: #d1d1d1; 
    margin: 0;
    padding: 0;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-bottom: 15px;
}


.btn-custom {
    background-color: #555555;
    color: white !important;
    width: 100%;
    max-width: 320px;
    margin: 10px 0;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: #333333;
}


.content-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.tech-logo {
    width: 70px;
    height: 70px;
    margin: 10px;
}


.cert-img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border: 1px solid #ddd;
}
